@import '../../scss/variable.scss';

/* Custom body Google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
  color: #f3f3f3;
}

/* NavBar */

nav.navbar {
  position: fixed;
  top: 28px;
  right: 28px;
  left: 28px;
  color: $text-color;
  background: $navbar-color;

  a.navbar-brand {
    font-size: 40px;
    color: $text-color;
    line-height: 45px;
  }

  ul.navbar-nav {
    letter-spacing: 0;
    font-weight: bold;
  }

  ul.navbar-nav li a {
    color: $text-color !important;
  }

  ul.navbar-nav li a:hover {
    color: $active !important;
  }

  ul.navbar-nav li.active a {
    color: $active !important;
  }
}


/* Header Images */

header {
  padding: 15px 0 55px;

  .image-header {
    margin: 108px auto 37px;

    img {
      border-radius: 49%;
      width: 360px;
      height: auto;
      box-shadow: 0 0 0 9px $box-shadow;
      margin-right: -166px;
      position: relative;
      z-index: 2;
    }
  }

  .text-header {
    margin: 188px auto 0;

    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 37px;
      text-transform: uppercase;
      color: $text-color;
      font-weight: initial;
      border-radius: 0px 108px 108px 0;
      background-color: $box-shadow;
      line-height: 54px;
      z-index: 3;
      width: 78%;
      margin-left: -65px;
      padding: 20px 49px;
    }
  }

  .color-name {
    color: #29AFC6;
  }

  /* Icon Style */

  .icon-head {
    margin: 0 -166px 0 0;
  }

  .icon-style {
    margin: 43px 11px 0;
    color: $text-color;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;
    // background: #27292e;
  }

  .icon-style {
    box-shadow: 2px 1px 5px 0px #222;
  }

  .icon-style:hover,
  .icon-style:focus,
  .icon-style:visited,
  .icon-style:active,
  i:hover {
    color: #fff;
    background: #29AFC6;
    box-shadow: none;
    transform: rotate(360deg);
  }

  /*Here Transsition*/
  .icon-style {
    transition: all .6s ease;
  }
}
